<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to create page
    <form action="/add" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name of Your Project?" id="name" required>
        <label for="author">Author</label>
        <input type="text" name="author" placeholder="Author of Your Project?" id="author" required>
        <br>
        <label for="description">Description</label>
        <br>
        <textarea name="description" rows="4" cols="50" id="description" required>
        </textarea>
        <button type="submit">Create</button>
    </form>
</body>
</html>