body {
  font-family: "Arial", sans-serif;
  background-color: #fff4f4;
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #092635;
}

.project-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #b6c4b6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #092635;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #1b4242;
  border-radius: 4px;
  font-size: 16px;
}

.form-button {
  background-color: #092635;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0c394d;
}

.back-arrow {
  font-size: 24px;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #092635;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #0c394d;
}
